/* Write your CSS here */
button {
  border: none;
  background: none;
  text-align: center;
}
.buttonimg {
  height: 30px;
  width: 40px;
}
.lii {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
